{% load staticfiles %}

<!DOCTYPE html>
	<html>
		<head>
			<title>Volantio Employees</title>
			<link rel="stylesheet" type="text/css" href="{% static 'normalise.css' %}"/>
			<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">

<!-- 		    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> -->
		</head>
		{% block content %}
		{% endblock %}
	</html>